@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Extralight.woff2') format('woff2'),
         url('/fonts/clash-display/ClashDisplay-Extralight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Light.woff2') format('woff2'),
         url('/fonts/clash-display/ClashDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Regular.woff2') format('woff2'),
         url('/fonts/clash-display/ClashDisplay-Regular.woff') format('woff');;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Medium.woff2') format('woff2'),
         url('/fonts/clash-display/ClashDisplay-Medium.woff') format('woff');;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Semibold.woff2') format('woff2'),
         url('/fonts/clash-display/ClashDisplay-Semibold.woff') format('woff');;
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/clash-display/ClashDisplay-Bold.woff2') format('woff2'),
         url('/fonts/clash-display/ClashDisplay-Bold.woff') format('woff');;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    height: 100vh;
}
.container {
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
}
.main {
     flex-grow: 1;
     margin: 100px 0 150px;
     z-index: 10;
}
.title {
     font-weight: 700;
     font-size: 48px;
     line-height: 48px;
     text-transform: capitalize;
}
.desc {
     font-weight: 500;
     font-size: 18px;
     line-height: 28px;
     color: var(--global-grey);
}
.btn {
     display: flex;
     align-items: center;
     font-size: 18px;
     font-weight: 500;
     line-height: 26px;
     padding: 16px 46px;
     border: none;
     cursor: pointer;
     border-radius: 4px;
     color: var(--global-white);
     background-color: var(--global-black);
     transition: background-color .3s ease;

     &:hover {
        background-color: var(--global-red);
     }
     &:active {
          background-color: var(--global-active1);
     }
}
.subtitle {
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: var(--global-red);
}
.img {
     max-width: 720px;
     width: 100%;
     height: auto
}

@media screen and (max-width: 425px) {
     .main {
          margin: 100px 0 100px;
     }
}