:root {
    /* FONT FAMILY */
    --main-font: 'ClashDisplay', sans-serif;

    /* COLORS */
    --global-black: #000000;
    --global-white: #ffffff;
    --global-grey: #808080;
    --global-red: #FF5555;

    --global-active1: #ce3636;

    --accent-1: #FDE598;
    --accent-2: #191D2A;
    --accent-3: #262626;
    --accent-4: #422F15;
    --accent-5: #81848A;
}