.advantages-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantage-image {
    max-width: 600px;
}
.advantage-content {
    max-width: 620px;
    margin: 0 auto;
}
.advantage-content--subtitle {
    margin-bottom: 3px;
}
.advantage-content-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
}
.advantage-list {
    list-style: none;
}
.advantage-list--item {
    margin-bottom: 24px;
}
.advantage-heading--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: var(--global-red);
    width: 30px;
    height: 30px
}
.advantage-heading--icon img {
    width: 18px;
    height: 18px
}
.advantage-item--heading {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-bottom: 8px;

    & h4 {
        font-weight: 600;
    }
}
.advantage-item--desc {
    font-size: 14px;
    font-weight: 400;
    color: var(--global-grey);
    line-height: 20px;
}

@media screen and (min-width: 1024px) {
    .advantages-notification {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .advantage-image {
        width: 50%;
        order: 2;
    }
    .advantage-content {
        max-width: 500px;
    }
}