.faq-content {
    max-width: 500px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
}
.faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    list-style: none;
}
.faq-list--item {
    max-width: 735px;
    padding: 30px;
    border-radius: 8px;
    color: var(--global-white);
    background-color: var(--global-red);
    user-select: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
}
.faq-item--question {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 28px;
}
.faq-item--answer {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    max-height: 0;
    overflow: hidden; 
    padding: 0 16px;
    transition: max-height 0.4s ease, padding 0.4s ease;
}
.faq-list--item.active .faq-item--answer {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
    overflow: visible;
    padding: 16px;
}
@media screen and (max-width: 1024px) {
    .faq-content--title {
        font-size: 36px;
        line-height: 34px;
    }
}
@media screen and (max-width: 768px) {
    .faq-content--title {
        font-size: 28px;
        line-height: 34px;
    }
    .faq-item--question {
        font-size: 22px;
    }
}
@media screen and (max-width: 425px) {
    .faq-list--item {
        padding: 20px;
    }
    .faq-item--question {
        margin-bottom: 0;
    }
    .faq-list--item.active .faq-item--answer {
        display: inline-block;
        max-height: 300px;
        padding: 16px;
        font-size: 16px;
    }
}
