.faq {
}
.faq-content {
    max-width: 500px;
    margin-bottom: 40px;
}
.faq-content--subtitle {
}
.faq-content--title {
}
.faq-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    list-style: none;
}
.faq-list--item {
    max-width: 535px;
    padding: 30px;
    border-radius: 8px;
    cursor: pointer;
    
}
.faq-list--item.active {
    color: var(--global-white);
    background-color: var(--global-red);
    transition: background-color .3s ease;
}
.faq-list--item.active:hover {
    background-color: var(--global-active1);
}
.faq-list--item.active:active {
    background-color: var(--global-red);
}
.faq-item--question {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 28px;
}
.faq-item--answer {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    height: 0;
    overflow: hidden;
    transition: min-height 1s ease;
}
.faq-list--item.active .faq-item--answer {
    min-height: 80px;
    height: 100%;
    overflow: visible;
}