.footer {
}
.footer-row {
}
.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
    gap: 50px;
}
.footer-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer-info--link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    text-decoration: none;
    
    & span {
        color: var(--global-black);
        transition: color .3s ease;
    }

    &:hover  span {
        color: var(--global-red)
    }
    &:active  span{
        color: var(--global-active1);
    }
}
.footer-nav {
    display: flex;
    gap: 65px;
    flex-wrap: wrap;
}
.footer-nav--list {
    list-style: none;
}
.footer-list--item {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.footer-item--title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 16px;
}
.footer-item--link {
    color: var(--global-black);
    text-decoration: none;
    transition: color .3s ease;

    &:hover  {
        color: var(--global-red)
    }
    &:active {
        color: var(--global-active1);
    }
}
.footer-item--form {
    display: flex;
    // width: 100%;
    margin-top: 16px;
}
.footer-form--input {
    // width: 150px;
    // flex-grow: 1;
    border: none;
    padding: 0 5px;
}
.footer-form--btn {
    // padding: 20px 40px;
}
.footer-btn {
}
.footer-line {
    position: relative;
    background-color: var(--global-grey);
    border: none;
    height: 1px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 300px;
        background: linear-gradient(to right, white, var(--global-grey));
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
        background: linear-gradient(to left, white, var(--global-grey));
    }
}
.footer-bottom {
    text-align: center;
    padding: 40px 0;

    & span {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .footer-nav--list {
        width: 100%;
    }
    .footer-form--input {
        height: 40px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
    }
    .footer-item--form {
        flex-direction: column;
        row-gap: 20px;
    }
    .footer-form--btn {
        justify-content: center;
    }
}