.footer {
}
.footer-row {
}
.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.footer-info {
}
.footer-nav {
}
.footer-btn {
}
.footer-bottom {
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid;
}