.header {
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-inner {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.header-logo {
    transition: opacity .3s ease;

    & img {
        display: block;
    }
    &:hover {
        opacity: .7;
    }
    &:active {
        opacity: 1;
    }
}
.header-nav {
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.header-nav--link {
    font-weight: 500;
    text-decoration: none;
    color: var(--global-black);
    transition: color .3s ease;

    &:hover {
        color: var(--global-red)
    }
    &:active {
        color: var(--global-active1);
    }
}
.header-nav--link.active {
    font-weight: 700;
    color: var(--global-red);
}
.header-nav--mobile {
    display: none;
}
.header-actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header-open--btn,
.header-download--mobile-btn {
    display: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--global-black);
    transition: background-color .3s ease;

    &:hover {
       background-color: var(--global-red)
    }
    &:active {
         background-color: var(--global-active1);
    }
}
.header-download--mobile-btn {
    width: 34px;
    height: 34px;
    padding: 4px;
}
.header-download--desktop-btn {}

@media screen and (max-width: 768px) {
    .header-download--desktop-btn {
        display: none;
    }
    .header-open--btn,
    .header-download--mobile-btn {
        display: flex;
    }
    
}