.hero {
}
.hero-row {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.hero-content {
    max-width: 620px;
    margin-top: 115px;
    margin-bottom: 20px;
}
.hero-title {
    margin: 0;
}
.hero-desc {
}
.hero-btns {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.hero-image {
    
}
.hero-start--btn {
    display: inline-block;
}
.hero-play--btn {
    display: flex;
    align-items: center;
    column-gap: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.hero-image {
    position: absolute;
    top: -60px;
    right: -280px;
    
    & img {
        max-width: 740px;
        width: 100%;
    }
}
.hero-bg-image {
    display: none;
}