.hero {
}
.hero-row {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.hero-content {
    max-width: 620px;
    margin-top: 115px;
    margin-bottom: 20px;
}
.hero-title {
    margin: 0;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 37px;
}
.hero-desc {
    text-transform: capitalize;
    line-height: 28px;
    margin-bottom: 11px;
}
.hero-btns {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.hero-start--btn {
    column-gap: 10px;
}
.hero-content-image {
    width: 560px;
    height: 360px;

    & img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.hero-start--btn {
    display: inline-block;
}
.hero-play--btn {
    display: flex;
    align-items: center;
    column-gap: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.hero-image {
    max-width: 740px;
    position: absolute;
    right: 0;
    // top: -60px;
    // right: -280px;
    
    & img {
        display: block;
        // max-width: 740px;
        width: 100%;
    }
}
.hero-bg-image {
    display: none;
}
.bg-gradient {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}