.user {
}
.user-row {
}
.user-content {
}
.user-content--subtitle {
}
.user-content--title {
}
.mySwiper2 {
    background-color: red;
}
.swiper-wrapper {
    display: flex;
}
.swiper-slide {
    width: 200px !important;
    height: 200px !important;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
.swiper-button-next {
}
.swiper-button-prev {
}